.clients{
  &__wrap{
    width: 100%;
    column-count: 2;
    column-gap: 0;
    list-style: none;
    font-size: 0;
    & li{
      text-align: center;
      display: inline-block;
      position: relative;
      width: 100%;
      border-left: 1px solid #E5E5E5 ;
      border-bottom: 1px solid #E5E5E5 ;
      border-top: 1px solid #E5E5E5 ;
      border-right: 1px solid #E5E5E5 ;
      padding-bottom: 100%;
    }
  }
  &__single-partner{
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35% 35%;
  }
}
@include tablet(){
  .clients{
    height: 100%;
    &__wrap{
      column-count: none;
      display: flex;
      flex-direction: row ;
      flex-wrap: wrap;
      & li {
        flex-basis: 20%;
        padding-bottom:20%;
      }
    }
    &__single-partner{
      background-size: 30% 30%;
    }
  }
}
@include desktop(){
  .clients{
    &__single-partner{
      background-size: 40% 40%;
    }
  }
}
