#masthead {
}
.g-hero {
	height: 100vh;
	width: 100%;
	position: relative;
	&__wrapper {
		position: relative;
		height: 100%;
		width: 100%;
		padding: 0 40px;
		@include bgImage();
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__shape {
		width: 100%;
		height: 50%;
		position: relative;
		@include bgImage();
		display: flex;
		align-items: center;
		justify-content: center;
		transform-style: preserve-3d;
		transform: perspective(500px);
		&:hover {
			&:after {
				transform: translateZ(-100px);
			}
		}
	}
	h1 {
		width: 100%;
		display: block;
		margin-bottom: 30px;
		text-align: center;
		text-transform: uppercase;
		color: $white;
		font-size: 60px;
		font-weight: bold;
		font-family: $main-font;
		transform: translateZ(50px) scale(0.6);
		// transform: translateZ(50px) translateY(-50%) translateX(-50%);
		position: absolute;
	}
	&__side-scroll {
		position: absolute;
		transform: rotate(90deg);
		color: $white;
		bottom: 90px;
		span {
			position: relative;
			font-family: $main-font;
			font-weight: bold;
			letter-spacing: 2px;
			color: $white;
			&:after {
				content: '';
				position: absolute;
				width: 50px;
				height: 2px;
				top: 44%;
				right: -67px;
				background-color: $white;
			}
		}
	}
	&__side-scroll-text {
		display: none;
	}
}

@include tablet() {
	.g-hero {
		&__shape {
			height: 64%;
			background-size: contain;
		}
		h1 {
			width: calc(100% - 160px);
			font-size: 106px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
		}
		&__side-scroll {
			bottom: 140px;
			left: 30px;
			span {
				position: relative;
				font-family: $main-font;
				font-size: 18px;
				font-weight: bold;
				letter-spacing: 2px;
				color: $white;
				&:after {
					width: 100px;
					height: 2px;
					top: 44%;
					right: -113px;
					background-color: $white;
				}
			}
		}
	}
}

@include desktop() {
	.g-hero {
		&__shape {
			// width: 362px;
			// height: 556px;
			transform-style: preserve-3d;
			position: relative;
		}
		h1 {
			font-size: 130px;
			transform: translateZ(20px);
		}
		&__side-scroll {
			display: flex;
			bottom: 170px;
			position: relative;
			width: fit-content;
		}
		&__side-scroll-text {
			position: absolute;
			top: 50%;
			left: 30px;
			display: flex;
			font-family: $main-font;
			text-transform: uppercase;
			font-size: 16px;
			color: $white;
			transform: rotate(270deg);
		}
	}
}

@include desktop-lg() {
	.g-hero {
	}
}
