.info-img {
	padding: 100px 0;
	color: $grey;
	&__wrapper {
		display: flex;
		flex-flow: column-reverse;
	}
	&__image {
		height: 465px;
		@include bgImage();
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__overlap {
		@include bgImage();
		background-size: contain;
		width: 80%;
		height: 80%;
	}
	&__info {
	}

	&__text {
		font-size: 16px;
		line-height: 32px;
		font-family: $roboto;
	}
	&__cta {
		margin-top: 34px;
		@include cta();
	}
}

@include tablet() {
	.info-img {
		padding: 150px 0;
		&__text {
			padding-left: 200px;
		}
		&__image {
			height: 100vh;
		}
	}
}
@include desktop() {
	.info-img {
		padding: 100px 0 0;
		&__wrapper {
			flex-flow: row;
		}
		&__image {
			width: 45%;
			height: auto;
			background-size: contain;
		}
		&__info {
			width: 50%;
			font-size: 16px;
			padding-bottom: 100px;
			&--no-img {
				width: 100%;
			}
		}
		&__cta {
			transition: 0.5s;
			&:hover {
				background-color: $grey;
				color: $white;
			}
		}
	}
}
@include desktop-lg() {
	.info-img {
		padding-top: 202px;
		&__info {
			width:60%;
			padding-top: 140px;
		}
		&__image{
			width: 45%;
		}
	}
}
