.info-img {
	padding: 100px 0;
	color: $grey;
	&__wrapper {
		display: flex;
		flex-flow: column-reverse;
	}
	&__image {
		height: 465px;
		@include bgImage();
	}
	&__info {
	}

	&__text {
		font-size: 16px;
		line-height: 32px;
		font-family: $roboto;
	}
	&__cta {
		margin-top: 34px;
		@include cta();
	}
}

@include tablet() {
	.info-img {
		padding: 150px 0;
		&__text {
			padding-left: 200px;
		}
	}
}
@include desktop() {
	.info-img {
		padding: 100px 0 0;
		&__wrapper {
			flex-flow: row;
		}
		&__image {
			width: 45%;
			height: auto;
			background-size: contain;
		}
		&__info {
			width: 50%;
			font-size: 16px;
			padding-bottom: 100px;
		}
	}
}
