.slide {
	// display: none;
	position: relative;
	height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	.top {
		width: 80%;
		// margin: 0 auto 100px;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-items: center;
	}
	.bottom {
		width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
}
.iqos {
	display: flex;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	&__default-slider {
		display: flex;
		align-items: center;
		justify-content: center;
		&--welcome {
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			h1 {
				font-size: 38px;
				margin-bottom: 100px;
			}
		}
		&--welcome-start {
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			.top {
				justify-content: space-between;
			}
			.bottom {
				width: 80%;
				margin: 0 auto;
				align-items: center;
			}
		}
	}
	&__cigarete-smoker {
		display: none;
	}
	&__iqos-smoker {
		display: none;
	}
	&__thank-you {
		display: none;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
}
.top {
	width: 80%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	margin: 0 auto 40px;
	h2 {
		width: 100%;
		text-align: center;
		font-size: 24px;
		text-transform: uppercase;
	}
	p {
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
	select {
		margin-bottom: 20px;
	}
}
.bottom {
	flex-flow: column;
	#cigaraBtn {
		margin-bottom: 20px;
	}
	select {
		margin-bottom: 20px;
	}
}

@include tablet() {
	.slide {
		.bottom {
			width: 60%;
		}
	}
	.iqos {
		&__default-slider {
			&--welcome-start {
				.top {
					width: 80%;
					margin: 0 auto 100px;
					flex-flow: row;
					justify-content: space-between;
				}
				.bottom {
					width: 60%;
					flex-flow: row;
				}
			}
		}
	}
	.top {
		width: 80%;
		margin: 0 auto 100px;
		h2 {
			width: 100%;
			text-align: center;
			font-size: 38px;
		}
		p {
			width: 100%;
			font-size: 22px;
			text-align: center;
			margin-top: 20px;
		}
		select {
			margin-bottom: 20px;
		}
	}
	.bottom {
		width: 70%;
		margin: 0 auto;
		flex-flow: column;
		#cigaraBtn {
			margin-bottom: 40px;
		}
		select {
			margin-bottom: 20px;
		}
	}
}
