.service {
	color: $grey;

	&__wrapper {
		display: flex;
		flex-flow: column;
	}
	&__title {
		font-size: 36px;
	}
	&__single-service {
		padding: 100px 0 0;
		display: flex;
		flex-flow: column-reverse;
		background-color: #f5f5f5;
		&:nth-of-type(even) > .service__image-section-wrapper {
			&:before {
				left: -200px;
			}
		}
	}
	&__image-section-wrapper {
		width: 100%;
		height: 80vh;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background-size: contain;
		overflow: hidden;
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			background: $black;
			transform: skewX(-20deg);
			left: 200px;
		}
	}

	&__shape-image {
		position: absolute;
		width: calc(100% - 76px);
		margin: 0 auto;
		height: 60vh;
		@include bgImage();
	}
	&__image {
		height: 328px;
		width: 220px;
		margin-left: 80px;
		margin-top: 20px;
		@include bgImage();
		z-index: 20;
	}
	&__info {
		position: relative;
		margin-bottom: 100px;
		opacity: 0;
		transition: 1s;
		left: -200px;
	}

	&__text {
		font-size: 16px;
		line-height: 32px;
		font-family: $roboto;
	}
	&__cta {
		margin-top: 34px;
		@include cta();
	}
}

@include tablet() {
	.service {
		&__text {
			padding-left: 200px;
		}
		&__image {
			height: 400px;
			width: 330px;
			z-index: 20;
		}
		&__single-service {
			&:nth-of-type(even) > .service__image-section-wrapper {
				&:before {
					left: -300px;
				}
			}
		}
		&__image-section-wrapper {
			&:before {
				left: 300px;
			}
		}
		&__info {
			margin-bottom: 150px;
		}
		&__shape-image {
			width: calc(100% - 160px);
		}
	}
}
@include desktop() {
	.service {
		padding: 0;
		&__wrapper {
			flex-flow: column;
		}
		&__info {
			width: 100%;
			display: flex;
			flex-flow: column;
			justify-content: center;
			margin-bottom: 0px;
			padding-top: 20px;
			padding-bottom: 20px;
			font-size: 16px;
		}
		&__single-service {
			flex-flow: row-reverse;
			padding-top: 0;
			&:nth-of-type(even) {
				flex-flow: row;
			}
			&:nth-of-type(even) > .service__image-section-wrapper {
				&:before {
					left: -300px;
				}
			}
		}
		&__image-section-wrapper {
			height: 100vh;
			&:before {
				width: 100%;
				left: 60%;
			}
		}
		&__shape-image {
			max-height: 580px;
			max-width: 500px;
		}
		&__image {
			height: 480px;
			// width: 400px
			background-size: cover;
			margin-left: 150px;
			margin-top: 70px;
		}
		&__info {
			// width: 50%;
		}
	}
}
@include desktop-lg() {
	.service {
		&__image-section-wrapper {
			width: 40%;
			justify-content: flex-start;
		}
		&__info {
			width: 60%;
			display: flex;
			flex-flow: column;
			justify-content: center;
		}
		&__shape-image {
			max-width: 580px;
			max-height: 100%;
		}
		&__image {
			width: 400px;
			margin-left: 200px;
			margin-top: 30px;
		}
	}
}
