/*************************************
* Brand & other color variables here *
*************************************/

// Brand colors
$white: #fff;
$black: #333333;
$gold: #c4a44c;
$green: #55efc4;
$grey: #4d4d4d;
$orange: #f7931e;
// Cookie popup colors
$popup-dark-grey: #545454;
$popup-grey: #bbbbbb;
$popup-light-gray: #d6d6d6;
