/*************************************
* Brand & other color variables here *
*************************************/

// Brand colors
$white: #fff;
$black: #061a21;
$gold: #c4a44c;
$dark-blue: #353556;
$dark-blue-text: #002e52;
$dark-blue-menu-item: #303052;
$light-grey: #d2d2d2;
$red: #e8114b;
$grey: #dadbdc;
$grey-text: #414042;
$light-grey: #e9e9e6;
$grey-blue: #536269;
$beige: #f3ede2;
$text-black: #2a2e2e;
// Cookie popup colors
$popup-dark-grey: #545454;
$popup-grey: #bbbbbb;
$popup-light-gray: #d6d6d6;
