/******************
* Elements mixins *
******************/

// Base element mixin

// CTA

// Text links
@mixin bgImage() {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

// Form elements
@mixin input-text {
}
