/****************
* Font families *
****************/

// Families definitions
@font-face {
	font-family: 'Montserrat';
	// src: url('./fonts/MyriadPro-Regular.otf') format('opentype');
	font-weight: normal;
}
@font-face {
	font-family: 'Roboto Mono';
	// src: url('assets/fonts/DanteMTStd-Regular.woff') format('woff');
	font-weight: normal;
}

// Families variables
$main-font: 'Montserrat';
$roboto: 'Roboto Mono';
