/****************
* Font families *
****************/

// Families definitions
@font-face {
	font-family: 'Montserrat';
	// src: url('./fonts/MyriadPro-Regular.otf') format('opentype');
	font-weight: normal;
}
@font-face {
	font-family: 'Montserrat-black';
	src: url('assets/fonts/Montserrat-Black.ttf') format('opentype');
	font-weight: normal;
}
@font-face {
	font-family: 'Montserrat-Medium';
	src: url('assets/fonts/Montserrat-Medium.ttf') format('opentype');
	font-weight: normal;
}
@font-face {
	font-family: 'Roboto Mono';
	// src: url('assets/fonts/DanteMTStd-Regular.woff') format('woff');
	font-weight: normal;
}

// Families variables
$main-font: 'Montserrat';
$roboto: 'Roboto Mono';
$main-black: 'Montserrat-black';
$main-medium: 'Montserrat-Medium';
