/*************************************
* Body, html and other global styles *
*************************************/

// Default typography styles for the site
body {
}
// Plugin styles
// .disqus-footer__wrapper {
// 	display: none !important;
// }

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
}
h1 {
	font-size: 38px;
}

input {
	outline: none;
}
a {
	color: inherit;
}
em {
	font-style: italic;
}
.global-wrapp {
	padding: 0 38px;
}
@include tablet() {
	.global-wrapp {
		padding: 0 80px;
	}
}

h1 {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 1.2;
	font-family: $main-font;
}
.content {
	font-size: 16px;
	line-height: 1.4;
	text-align: left;

	h2 {
	}

	h3 {
	}

	h4 {
	}

	h5 {
	}
} // .content

// Prevent scroll
.no-scroll {
	overflow: hidden;
}

// image to background helper class
img[class$='-imgtobg'] {
	display: none;
}
// class for animation purposes
// hides element so animation can start smoothly
.animated {
	visibility: hidden;
}
.newsletter-email {
	&::placeholder {
		color: $white;
	}
}

a.disabled {
	// pointer-events: none;
}
/****************
* Media queries *
****************/

@include tablet() {
	h2 {
		font-size: 44px;
		line-height: 0.92;
	}
}

@include desktop() {
}
@include desktop-xlg() {
	h2 {
		font-size: 58px;
		line-height: 56px;
	}
	p {
		font-size: 19px;
	}
}
